{%extends "employee/base_employee.html"%}
{%block content2%}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/formcss/style.css">


<style>

select{
  border: 2px solid #ccc;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  font-family: "Muli-Bold";
  font-size: 12px;
  cursor: pointer;
 background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right 000;
 background-position: 95% 50%;
}
input[type="text"]{font-size: 14px;}
input[type="password"]{font-size: 14px;}

.form-control:focus {
    border: 1px solid #ae3c33; }
}
.form-control {
  border: 2px solid #ccc;
  display: block;
  width: 100%;
  height: 40px;
  padding: 20px 20px;
  border-radius: 20px;
  font-family: "Muli-Bold";
  background: none; }
  .form-control:focus {
    border: 1px solid #ae3c33; }

</style>

<div class="wrapper js-animsition"
     data-animsition-out-class="fade-out" style="background-image: url(/static/images/hero_3.jpg); z-index:0; padding-bottom:5%">

    <div class="inner p-4 mb-4 bg-white" data-aos="fade-up" data-aos-delay="800" style="border-color: #f7f8fa" >

        <form action="" method="post">
            <h3>SUPERUSER PANEL</h3>
            <hr>

            <div class="form-wrapper">

                    <select name="su_query" id="su_query" required="required">
                        <option value="ADMIN">Add Admin</option>
                        <option value="MANAGER">Add Manager</option>
                        <option value="TECHNICIAN">Add Technician</option>
                        <option value="EXECUTIVE">Add Executive</option>
                        <!-- <option value="4">Remove Admin</option>
                        <option value="5">Remove Manager</option>
                        <option value="6">Remove Technician</option>
                        <option value="7">Remove Executive</option> -->
                    </select>

                </div>

            <div class="form-phone">
                <div class="form-wrapper">

                    <select name="country" required="required">
                        <option>+91(INDIA)</option>
                    </select>

                </div>

                <div class="form-wrapper">
                    <input type="text" name="phone" id="phone" maxlength="10" placeholder="Mobile Number" style="width:385%" class="form-control" required="required"
                           pattern="[6-9]{1}[0-9]{9}" title="Number can only contain 10 digits">
                </div>
            </div>


            <button>CONTINUE</button>
        </form>
    </div>
</div>

{%endblock%}