{%extends "employee/base_employee.html"%}
{%block content%}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link href="/static/formcss/style.css" rel="stylesheet">
<style>
    hr{
             border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
          }
          .inner12 {
  min-width: 99%;
  margin-left:5px;
  margin-right:5px;
  /*border: 2px solid white;*/
  border-radius: 25px;
  box-shadow: 5px 5px 15px grey;
  padding-top: 100px;
  padding-bottom: 48px;
  background: url("../images/whitebg.jpg");
   background-size: cover;}
  .inner h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Muli-Bold";
    text-align: center;
    margin-bottom: 32px;
    color: #333;
    letter-spacing: 2px; }

</style>

    <div class="templateux-section" style="padding-bottom:0px;">

        <div class="container">

        </div>
        <div class="wrapper js-animsition" data-animsition-out-class="fade-out" id="ticket" style=" box-shadow:5px 5px 15px grey; margin-top:0px;  padding:5px; background: url(/static/images/texture1.jpg);background-size: 30%; background-repeat: repeat;margin-top:-90px; z-index:0;">
     
     <div class="inner12 p-4 mb-4" data-aos="fade-up" data-aos-delay="300" style="height:150%;padding-left:5px; margin-top:100px;background: url(/static/images/texture3.jpg);background-size: 30%; background-repeat: repeat;" >

        <form>

            <h3 style="text-align:center; padding-top:50px; padding-bottom:15px">ALLOCATE TECHNICIAN</h3>
            <hr style="margin-bottom:15px">
            <div class="item form-wrapper">

                <table class="table table-bordered" style="text-align:center; margin-bottom:100px;">

                    <tr>
                        <th>Manager Name</th>
                        <td>{{emp['fname']+" "+emp['lname']}}</td>
                    </tr>
                    <tr>
                        <th>Employee ID</th>
                        <td>{{emp['employee_id']}}</td>
                    </tr>
                    <tr><td colspan="2"><hr></td>
                    </tr>
                    <tr>
                        <th>Technicians Assigned </th>
                        <th>Available Technicians </th>
                    </tr>

                    <tr>
                        <td style="width: 50%">
                            <table class="table table-bordered" style="text-align:center; margin-bottom:100px;">
                                <tr>
                                    <th>Employee ID</th>
                                    <th>Name</th>
                                    <th>Job Status</th>
                                    <th>Options</th>
                                </tr>
                                {% for i in technicians %}
                                <tr>
                                    <td style="vertical-align: middle;">{{i['employee_id']}}</td>
                                    <td style="vertical-align: middle;">{{i['fname']+" "+i['lname']}}</td>
                                    <td style="vertical-align: middle;">{{i['job_status']}}</td>
                                    <td class="text-center align-middle" style="width: 20%">
                                        <p id="btn1" value="remove" class="btn btn-warning" style="color:white;width: 180px;margin-bottom: 1px;" >
                                            <a href="/emp/remove_technician/{{ emp['employee_id'] }}/{{i['employee_id']}}" style="color:white">Remove</a></p>
                                        <p id="btn1" value="cancel" class="btn btn-secondary" style="color:white;width: 180px;margin-top: 1px;" >
                                            <a href="/emp/manager/{{ i['employee_id'] }}" style="color:white">Details</a></p>
                                        </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </td>
                        <td style="width: 50%">
                            <table class="table table-bordered" style="text-align:center; margin-bottom:100px;">
                                <tr>
                                    <th>Employee ID</th>
                                    <th>Name</th>
                                    <th>Job Status</th>
                                    <th>Options</th>
                                </tr>
                                {% for p in pending %}
                                <tr>
                                    <td style="vertical-align: middle;">{{p['employee_id']}}</td>
                                    <td style="vertical-align: middle;">{{p['fname']+" "+p['lname']}}</td>
                                    <td style="vertical-align: middle;">{{p['job_status']}}</td>
                                    <td class="text-center align-middle" style="width: 20%">
                                        <p class="btn btn-primary" id="btn1"style="color:white;width: 180px;margin-bottom: 1px;"value="cancel">

                                        <a href="/emp/allot_technician/{{ emp['employee_id'] }}/{{p['employee_id']}}"
                                           style="color:white">Assign</a></p>
                                        <p class="btn btn-secondary" id="btn1" style="color:white;width: 180px;margin-top: 1px;"
                                           value="cancel">

                                            <a href="/emp/manager/{{ p['employee_id'] }}"
                                               style="color:white">Details</a></p></td>
                                </tr>
                                {% endfor %}
                            </table>
                        </td>

                    </tr>
                    <tr>



                    </tr>

                </table>
            </div>
        </form>
    </div>
</div>
    </div> <!-- .templateux-section -->

{%endblock%}


</body>
</html>