{%extends "employee/base_employee.html"%}
{%block content%}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link href="/static/formcss/style.css" rel="stylesheet">
<style>
    hr{
             border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
          }
          .inner12 {
  min-width: 90%;
  margin-left:auto;
  margin-right:auto;
  /*border: 2px solid white;*/
  border-radius: 25px;
  box-shadow: 5px 5px 15px grey;
  padding-top: 100px;
  padding-bottom: 48px;
  background: url("../images/whitebg.jpg");
   background-size: cover;}
  .inner h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Muli-Bold";
    text-align: center;
    margin-bottom: 32px;
    color: #333;
    letter-spacing: 2px; }

</style>

    <div class="templateux-section" style="padding-bottom:0px;">

        <div class="container">

        </div>
        <div class="wrapper js-animsition" data-animsition-out-class="fade-out" id="ticket" style=" box-shadow:5px 5px 15px grey; margin-top:-90px; background-image: url(/static/images/texture1.jpg);background-size: 30%; background-repeat: repeat ;z-index:0;">
     
     <div class="inner12 p-4 mb-4 bg-white" data-aos="fade-up" data-aos-delay="300" style="height:150%; margin-top:100px;background: url(/static/images/texture3.jpg);background-size: 50%; background-repeat: repeat;" >

        <form>
            <h3 style="text-align:center; padding-top:50px; padding-bottom:15px">MANAGERS RECORD</h3>
            <hr style="margin-bottom:15px">
            <div class="item form-wrapper">
                <table class="table table-bordered" style="text-align:center; margin-bottom:100px;">
                    <tr>
                        <th>Photo</th>
                        <th>Employee ID</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Technicians alloted</th>
                        <th>Job Status</th>
                        <th>Options</th>
                    </tr>
                    {% for i in data %}
                    <tr>
                        <td><img src={{ i['picture'] }} style="margin-left:auto;margin-right:auto;display:block;
                            border-radius:50%;width:50px;height:50px;vertical-align: middle;" alt="can't load" class="w3-round img-fluid"></td>
                        <td style="vertical-align: middle;">{{ i['employee_id'] }}</td>
                        <td style="vertical-align: middle;">{{ i['fname']+" "+i['lname'] }}</td>
                        <td style="vertical-align: middle;">{{ i['phone'] }}</td>
                        <td style="vertical-align: middle;">
                        {% for c in count %}
                        {% if (i['employee_id']==c['employee_id'])%}
                            {{ c['count(*)'] }}

                                {% if flag.update({'value': 'True'}) %}
                                {% endif %}

                        {% endif %}
                        {% endfor %}
                            {% if flag['value']=='False' %}
                            0
                            {% endif %}
                            {% if flag.update({'value': 'False'}) %}
                                {% endif %}
                        </td>
                        <td style="vertical-align: middle;">{{ i['job_status'] }}</td>
                        <td class="text-center align-middle"><p id="btn1" value="cancel" class="btn btn-primary" style="color:white;width: 180px;vertical-align: middle;" >

                          <a href="/emp/manager/{{i['employee_id']}}" style="color:white">VIEW PROFILE</a></p></td>

                    </tr>
                    {% endfor %}

                </table>
            </div>
        </form>
    </div>
</div>
    </div> <!-- .templateux-section -->

{%endblock%}


</body>
</html>