{%extends "employee/base_employee.html"%}
{%block content2%}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/formcss/style.css">


<style>

select{
  border: 2px solid #ccc;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  font-family: "Muli-Bold";
  font-size: 12px;
  cursor: pointer;
 background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right 000;
 background-position: 95% 50%;
}
input[type="text"]{font-size: 14px;}
input[type="password"]{font-size: 14px;}

.form-control:focus {
    border: 1px solid #ae3c33; }
}
.form-control {
  border: 2px solid #ccc;
  display: block;
  width: 100%;
  height: 40px;
  padding: 20px 20px;
  border-radius: 20px;
  font-family: "Muli-Bold";
  background: none; }
  .form-control:focus {
    border: 1px solid #ae3c33; }

</style>

<div class="wrapper js-animsition"
     data-animsition-out-class="fade-out" style="background-image: url(/static/images/hero_3.jpg); z-index:0; padding-bottom:5%">

        <div class="container">
            <div class="row align-items-lg-center" >
                <div class="col-lg-6 order-lg-1">

                  <h1>Welcome {{ name }}</h1><br><br>
                    <h1 class="heading mb-3" data-aos="fade-up" >
                      Lorem ipsum dolor sit amet, an ludus nostro forensibus sed. Solum cetero numquam eam eu, nec ludus dictas facilisi at. Impetus aliquid in vel. Mea veritus minimum ea. No pri nostrum noluisse tractatos. Noster appetere cu eum, eu oblique nostrud pro, graeco nusquam accumsan cum at. Eos cetero accusamus dissentiet ne, fastidii imperdiet ad vel.
                    </h1>

                </div>

            </div>
    </div> <!-- .templateux-cover -->

</div>

{%endblock%}