{%extends "employee/base_employee.html"%}
{%block content%}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link href="/static/formcss/style.css" rel="stylesheet">
<style>
    hr{
             border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
          }
          .inner12 {
  min-width: 90%;
  margin-left:auto;
  margin-right:auto;
  /*border: 2px solid white;*/
  border-radius: 25px;
  box-shadow: 5px 5px 15px grey;
  padding-top: 100px;
  padding-bottom: 48px;
  background: url("../images/whitebg.jpg");
   background-size: cover;}
  .inner h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Muli-Bold";
    text-align: center;
    margin-bottom: 32px;
    color: #333;
    letter-spacing: 2px; }

</style>

    <div class="templateux-section" style="padding-bottom:0px;">

        <div class="container">

        </div>
        <div class="wrapper js-animsition" data-animsition-out-class="fade-out" id="ticket" style=" box-shadow:5px 5px 15px grey; margin-top:0px;  padding:5px; background: url(/static/images/texture1.jpg);background-size: 30%; background-repeat: repeat;	;margin-top:-90px; z-index:0;">
     
     <div class="inner12 p-4 mb-4" data-aos="fade-up" data-aos-delay="300" style="height:150%; margin-top:100px;background: url(/static/images/texture3.jpg);background-size: 50%; background-repeat: repeat;" >

        <form>
            <h3 style="text-align:center; padding-top:50px; padding-bottom:15px">INVENTORY RECORD</h3>
            <hr style="margin-bottom:15px">
            <div class="item form-wrapper">
                <table class="table table-bordered" style="text-align:center; margin-bottom:100px;">
                    <tr>
                        <th>Inventory ID</th>
                        <th>Ticket ID</th>
                        <th>Product Type</th>
                        <th>Fault Type</th>
                        <th>Record Date</th>
                        <th>Status</th>
                        <th>Options</th>
                        <th>Update</th>
                    </tr>
                    {% for i in data %}
                    <tr>
                        <td style="vertical-align: middle;">{{ i['inventory_id'] }}</td>
                        <td style="vertical-align: middle;">{{ i['ticket_id'] }}</td>
                        <td style="vertical-align: middle;">{{ i['product_type'] }}</td>
                        <td style="vertical-align: middle;">{{ i['fault_type'] }}</td>
                        <td style="vertical-align: middle;">{{ i['record_date'] }}</td>
                        <td style="vertical-align: middle;">{{ i['status'] }}</td>
                        
                        <td class="text-center align-middle"><p id="btn1" value="cancel" class="btn btn-warning" style="color:white;width: 180px;" >

                          <a href="/emp/inventory/{{ i['ticket_id'] }}" style="color:white">View ticket</a></p></td>

                        {%if i['status']=="Completed"%}
                        <td class="text-center align-middle"><p id="btn1" value="cancel" class="btn btn-info" style="color:white;width: 190px;" >

                          <a href="/emp/completed_tickets/{{i['ticket_id']}}/ready" style="color:white">Ready for delivery</a></p></td>
                        {%elif i['status']=="Ready for delivery"%}
                        <td class="text-center align-middle"><p id="btn1" value="cancel" class="btn btn-success" style="color:white;width: 190px;" >

                          <a href="/emp/completed_tickets/{{i['ticket_id']}}/delivered" style="color:white">Set to delivered</a></p></td>
                        {%endif%}

                    </tr>
                    {% endfor %}

                </table>
            </div>
        </form>
    </div>
</div>
    </div> <!-- .templateux-section -->

{%endblock%}


</body>
</html>