{%extends "employee/base_employee.html"%}
{%block content%}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link href="/static/formcss/style.css" rel="stylesheet">
<style>
  hr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
          }
  .inner12 {
  width: 80%;
  margin-left:5px;
  margin-right:5px;
  /*border: 2px solid white;*/
  border-radius: 25px;
  box-shadow: 5px 5px 15px grey;
  padding-top: 100px;
  padding-bottom: 50px;}
  .inner h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Muli-Bold";
    text-align: center;
    margin-bottom: 32px;
    color: #333;
    letter-spacing: 2px; }

</style>

    <div class="templateux-section" style="padding-bottom:0px;">

        <div class="wrapper js-animsition" data-animsition-out-class="fade-out" id="ticket" style=" box-shadow:5px 5px 15px grey; margin-top:0px;  padding:5px; background: url(/static/images/texture1.jpg);background-size: 30%; background-repeat: repeat;margin-top:-90px; z-index:0;">
     
     <div class="inner12 p-4 mb-4" data-aos="fade-up" data-aos-delay="300" style="height:150%;margin-top:100px;background: url(/static/images/texture3.jpg);background-size: 30%; background-repeat: repeat;" >

        <form style="width: 100%">

            <h3 style="text-align:center; padding-top:50px; padding-bottom:15px">INVENTORY RECORD</h3>
            <hr style="margin-bottom:15px">
            <div class="item form-wrapper">

                <table class="table table-bordered" style="text-align:center; margin-bottom:100px;">

                    <tr>
                        <th>Technician Name</th>
                        <td>{{emp['fname']+" "+emp['lname']}}</td>
                    </tr>
                    <tr>
                        <th>Employee ID</th>
                        <td>{{emp['employee_id']}}</td>
                    </tr>
                    <tr><td colspan="2"><hr></td>
                    </tr>
                    <tr>
                        <th>Tickets Assigned {{assigned['count(*)']}}</th>
                        <th>Pending in Inventory {{pending['count(*)']}}</th>
                    </tr>

                    <tr>
                        <td style="width: 60%">
                            <table class="table table-bordered" style="text-align:center; margin-bottom:100px;">
                                <tr>
                                    <th>Ticket_id</th>
                                    <th>Inventory_id</th>
                                    <th>Fault type</th>
                                    <th>Record date</th>
                                    <th>Options</th>
                                </tr>
                                {% for a in assigned %}
                                <tr>
                                    <td style="vertical-align: middle;">{{a['ticket_id']}}</td>
                                    <td style="vertical-align: middle;">{{a['inventory_id']}}</td>
                                    <td style="vertical-align: middle;">{{a['fault_type']}}</td>
                                    <td style="vertical-align: middle;">{{a['record_date']}}</td>
                                    <td class="text-center align-middle"><p id="btn1" value="cancel" class="btn btn-primary" style="color:white;width: 180px;" >

                                <a href="/emp/inventory/{{ a['ticket_id'] }}" style="color:white">View details</a></p></td>
                                </tr>
                                {% endfor %}
                            </table>
                        </td>
                        <td style="width: 40%">
                            <table class="table table-bordered" style="text-align:center; margin-bottom:100px;">
                                <tr>
                                    <th>Ticket_id</th>
                                    <th>Inventory_id</th>
                                    <th>Options</th>
                                </tr>
                                {% for p in pending %}
                                <tr>
                                    <td style="vertical-align: middle;">{{p['ticket_id']}}</td>
                                    <td style="vertical-align: middle;">{{p['inventory_id']}}</td>
                                    <td class="text-center align-middle"><p id="btn1" value="cancel" class="btn btn-success" style="color:white;width: 180px;" >

                                <a href="/emp/pending_inventory/{{ emp['employee_id'] }}/{{p['ticket_id']}}" style="color:white">Assign Ticket</a></p></td>
                                </tr>
                                {% endfor %}
                            </table>
                        </td>

                    </tr>
                    <tr>



                    </tr>

                </table>
            </div>
        </form>
    </div>
</div>
    </div> <!-- .templateux-section -->

{%endblock%}


</body>
</html>