{%extends "employee/base_employee.html"%}
{%block content2%}

    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <link href="/static/formcss/style.css" rel="stylesheet">


<style>

select{
  border: 2px solid #ccc;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  font-family: "Muli-Bold";
  font-size: 10px;
  cursor: pointer;
 background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right 000;
 background-position: 95% 50%;
}

.form-control:focus {
    border: 1px solid #ae3c33; }
}
.form-control {
  border: 2px solid #ccc;
  display: block;
  width: 100%;
  height: 40px;
  padding: 20px 20px;
  border-radius: 20px;
  font-family: "Muli-Bold";
  background: none; }
  .form-control:focus {
    border: 1px solid #ae3c33; }
 .inner12 {
  width: 80%;
  margin-top: 10%;
  margin-left:auto;
  margin-right:auto;
  border: 2px solid white;
  border-radius: 25px;
  box-shadow: 5px 5px 15px grey;
  padding-top: 100px;
  padding-bottom: 48px;
  background: url("../images/whitebg.jpg");
   background-size: cover;}
  .inner h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Muli-Bold";
    text-align: center;
    margin-bottom: 32px;
    color: #333;
    letter-spacing: 2px; }


</style>

<div class="wrapper js-animsition"
     data-animsition-out-class="fade-out" style=" background-image: url(/static/images/hero_3.jpg); z-index:0; padding-bottom:5%">
     <div class="inner12 p-4 mb-4 bg-white" data-aos="fade-up" data-aos-delay="800" >

        <form action="" method="post">
            <h3 style="text-align:center">FAULT DETAILS</h3>
            <hr>
            <div class="form-group">
                <div class="form-wrapper">
                    <label>Inventory ID:</label>
                </div>
                <div class="form-wrapper">
                    <label>{{ticket['inventory_id']}}</label>
                </div>
            </div>
            <hr  style=" background-image:none; border-top: 1px dashed #8c8b8b;">
            <div class="form-group">
                <div class="form-wrapper">
                    <label>Ticket ID:</label>
                </div>
                <div class="form-wrapper">
                    <label>{{ticket['ticket_id']}}</label>
                </div>
            </div>
             <hr  style=" background-image:none; border-top: 1px dashed #8c8b8b;">
             <div class="form-group">
                <div class="form-wrapper">
                    <label>Record date:</label>
                </div>
                <div class="form-wrapper">
                    <label>{{ticket['record_date']}}</label>
                </div>
            </div>
             <hr  style=" background-image:none; border-top: 1px dashed #8c8b8b;">
            <div class="form-group">
                <div class="form-wrapper">
                    <label>Product Name:</label>
                </div>
                <div class="form-wrapper">
                    <label>{{ticket['product_name']}}</label>
                </div>
            </div>
             <hr  style=" background-image:none; border-top: 1px dashed #8c8b8b;">
            <div class="form-group">
                <div class="form-wrapper">
                    <label>Product Type:</label>
                </div>
                <div class="form-wrapper">
                    <label>{{ticket['product_type']}}</label>
                </div>
            </div>
            <hr  style=" background-image:none; border-top: 1px dashed #8c8b8b;">
            <div class="form-group">
                <div class="form-wrapper">
                    <label>Product Desc:</label>
                </div>
                <div class="form-wrapper">
                    <label>{{ticket['product_description']}}</label>
                </div>
            </div>
            <hr  style=" background-image:none; border-top: 1px dashed #8c8b8b;">
            <div class="form-group">
                <div class="form-wrapper">
                    <label>Fault Type:</label>
                </div>
                <div class="form-wrapper">
                    <label>{{ticket['fault_type']}}</label>
                </div>
            </div>
            <hr  style=" background-image:none; border-top: 1px dashed #8c8b8b;">
            <div class="form-group">
                <div class="form-wrapper">
                    <label>Fault Desc:</label>
                </div>
                <div class="form-wrapper">
                    <label>{{ticket['fault_description']}}</label>
                </div>
            </div>
             <hr  style=" background-image:none; border-top: 1px dashed #8c8b8b;">

        </form>
    </div>
</div>

{%endblock%}