{%extends "base.html"%}
{%block content2%}

<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<!-- MATERIAL DESIGN ICONIC FONT -->
<link rel="stylesheet" href="/static/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

<!-- STYLE CSS -->
<link rel="stylesheet" href="/static/formcss/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

select{border: 2px solid #ccc;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  font-family: "Muli-Bold";
  cursor: pointer;
 background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right 000;
 background-position: 95% 50%;
}

.form-control:focus {
    border: 1px solid #ae3c33; }
}
.form-control {
  border: 2px solid #ccc;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  font-family: "Muli-Bold";
  background: none; }
  .form-control:focus {
    border: 1px solid #ae3c33; }

</style>

<div class="wrapper js-animsition animsition" data-animsition-in-class="fade-in"
     data-animsition-out-class="fade-out">

    <div class="inner " data-aos="fade-up" data-aos-delay="800">
      
        <div class="form-wrapper">
              <h6 align="center"><a href="/login">Already have a account. Login here</a></h6>
       </div>

        <form action="" method="post">
            <h3>Registration Form</h3>
            <div class="form-group">
                <div class="form-wrapper">
                    <label for="">First Name</label>
                    <input type="text" name="fname" id="fname" class="form-control" pattern="[a-zA-Z]{2,}" required="required">
                </div>
                <div class="form-wrapper">
                    <label for="">Last Name</label>
                    <input type="text" name="lname" id="lname" class="form-control" pattern="[a-zA-Z]{2,}" required="required">
                </div>
            </div>

            <div class="form-phone">
                <div class="form-wrapper">
                    <label for="">Country Code</label>

                    <select name="country" required="required">
                        <option>+91(INDIA)</option>
                    </select>

                </div>

                <div class="form-wrapper">
                    <label for="">Mobile Number</label>
                    <input type="text" name="phone" id="phone" style="width:385%" class="form-control" required="required"
                           pattern="[6-9]{1}[0-9]{9}" title="Number can only contain 10 digits">
                </div>
            </div>

            <div class="form-wrapper">
                <label style="color:red;" for="">{{ msg }}</label>
            </div>


            <div class="form-wrapper">
                <label for="">Permenant Address</label>
                <input type="text" name="address" id="address" class="form-control" pattern="[a-zA-Z, ]{2,}" required="required">
            </div>

            <div class="form-wrapper">
                <label for="">Pincode</label>
                <input type="text" name="pincode" id="pincode" class="form-control" pattern="[0-9]{6}" required="required">
            </div>

            <div class="form-wrapper">
                <label for="">Create New Password</label>
                <input type="password" name="password" id="password" class="form-control" pattern=".{6,20}" title="Password should be 6-20 characters long" required="required">
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" required="required"> I accept the Terms of Use & Privacy Policy.
                    <span class="checkmark"></span>
                </label>
            </div>
            <button>Register Now</button>
        </form>
    </div>
</div>

{%endblock%}








<!-- <script type="text/javascript">
  function openTab(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script> -->
<!-- <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Register')">Register</button>
        <button class="tablinks" onclick="openTab(event, 'Login')">Login</button>
      </div>

      <!-- Tab content --><!--
      <div id="Register" class="tabcontent">
        <h3>Register</h3>
      </div>

      <div id="Login" class="tabcontent">
        <h3>Login</h3>
      </div>
  </div>
 -->